<section class="login-page">
    <div class="login-header">
        <h1>Log In</h1>
    </div>
    <div class="form-wrapper">
        <form class="login-form">
            <div>
                <label for="username-login">Username</label>
                <input type="text" class="text-area" id="username-login" />
            </div>
            <div>
                <label for="password-login">Password</label>
                <input type="password" class="text-area" id="password-login" />
            </div>
            <div>
                <button type="submit" class="login-signup-btn">Log In!</button>
            </div>
        </form>
    </div>

    <a href="/signup" class="sign-up-link">sign up </a>
</section>

<script src="/public/js/login.js"></script>